*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
section{
    background: #fff;
    background-image: url("./asset/2-go-for-it.jpg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 900px;
    height: 100%;
    padding: 100px 40px;
}
.card{
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
}
.card-body{
    display: grid;
    place-content: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    position: relative;
}
img{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
}
.cards-product-name{
    position: absolute;
    top: 70%;
    left: 10%;
    display: grid;
    padding: 10px;
}
.mb{
    margin-bottom: 1rem;
}
@media(max-width:634px){
    section{
     display: grid;
     place-content: center;
     height: 100%;
    }
    
    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 300px;
        height: 240px;
    }
    .card-body{
        width: 300px;
        height: 240px;
    }
    .mb{
        margin-bottom: 0rem;
    }
    .cards-product-name{
        margin-top: 1.9rem;
    }
    h2{
        font-size: 13px;
    }
}
